# Remove the line below if you want to inherit .editorconfig settings from higher directories
root = true

# C# files
[*.cs]

#### Core EditorConfig Options ####

# Indentation and spacing
indent_size = 4
indent_style = space
tab_width = 4

# Expression-level preferences
dotnet_style_namespace_match_folder = true

# Code-block preferences
csharp_style_namespace_declarations = file_scoped:silent

# Naming styles
dotnet_style_namespace_match_folder = true:suggestion
